<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/style.css">
    <script src="../../../static/components/header.js" type="text/javascript"></script>


    <title>Espaços e Arquitetura</title>
</head>


<body>
    <header-component></header-component>

    <section class="conteudo">

        <p class="textoDentroOpcoesRT"> <span class="destaque"> Espaços e arquitetura </span></p>

        <p class="textoDentroOpcoesRT">
            Os lugares que habitamos fazem parte da nossa história. Casas, templos, associações, bairros e jardins guardam lembranças de encontros, aprendizados e momentos importantes da vida.
        </p>

        <img src = "../../../static/arquiteturaJapao.jpg" style="height: 100%; width: 100%; padding-top: 3vw">

        <p class="textoDentroOpcoesRT">
            Ao recordar esses espaços, revisitamos cheiros, sons, caminhos percorridos e pessoas que fizeram parte da nossa trajetória.
            Cada detalhe, seja uma porta de correr, um quintal simples ou uma lanterna na rua, pode despertar memórias profundas e afetivas.
            Esta seção é um convite para reviver os lugares que marcaram sua caminhada e fortalecer a conexão entre passado e presente.
        </p>

        <a class="botoesDentroOpcoesRT" > Minka — Casa Tradicional Japonesa </a> <br>
        <a class="botoesDentroOpcoesRT" > Shoji, Fusuma e Tatami </a> <br>
        <a class="botoesDentroOpcoesRT"> Jardins Japoneses </a> <br>
        <a class="botoesDentroOpcoesRT"> Templos e Santuários </a> <br>
        <a class="botoesDentroOpcoesRT"> Vilas Agrícolas e Colônias de Imigrantes </a> <br>
        <a class="botoesDentroOpcoesRT"> Associações Nipo-Brasileiras </a> <br>
        <a class="botoesDentroOpcoesRT"> Espaços de Migração e Viagem </a> <br>
        <a class="botoesDentroOpcoesRT"> Bairros Nikkei no Brasil </a> <br>
        <a class="botoesDentroOpcoesRT"> Escolas </a> <br>

    </section>

</body>