<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "../../static/style.css">
    <script src="../../static/components/header.js" type = "text/javascript" ></script>
 
    
    <title>Culinária e Gastronomia</title> 
</head>


<body>
    <header-component></header-component>

    <section class="conteudo">

        <p class="textoDentroOpcoesRT"> <span class="destaque"> Culinária e Gastronomia </span></p>

        <p class="textoDentroOpcoesRT"> 
            A culinária é memória viva.
            Cada prato carrega histórias de família, de adaptação, de trabalho e de amor.
            Na experiência nikkei, cozinhar é preservar raízes e, ao mesmo tempo, criar pontes entre o Japão e o Brasil.
        </p>

        <p class="textoDentroOpcoesRT"> <span class="destaque"> Vamos relembrar sabores que marcaram sua história? </span> </p>

        <a class="botoesDentroOpcoesRT" href="{{ url_for('preparacaoPratosTradicionais') }}"> Preparação de pratos tradicionais </a> <br>
        <a class="botoesDentroOpcoesRT"> Doces e sobremesas </a> <br>
        <a class="botoesDentroOpcoesRT"> Colheitas e plantações </a> <br> 

    </section>

</body>