<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receitas doces</title>
    <link rel="stylesheet" href="../../../static/style.css">
    <link rel="stylesheet" href="../../../static/comidas.css">
    <script src="../../../static/components/header.js" type="text/javascript"></script>
</head>


<body>
    <header-component></header-component>

    <section class="conteudo">
 
        <div id="container"></div>

        <script>
            const paginaAtual = "{{pagina}}";
        </script>

    </section>
</body>

<script src="../../../static/preparacaoPratosTradicionais.js"></script>

</html>