<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "../../../static/style.css">
    <script src="../../../static/components/header.js" type = "text/javascript" ></script>
 
    
    <title>Doces e sobremesas típicas</title> 
</head>


<body>
    <header-component></header-component>
    {% include 'botao_voltar.html' %}
    <section class="conteudo">

        <p class="textoDentroOpcoesRT" style="font-weight: bold"> Doces e Sobremesas Típicas </p>
        <p class="textoDentroOpcoesRT" style="font-weight: bold"> Os doces japoneses não são apenas sobremesas são símbolos de celebração, estações do ano e encontros familiares.
        </p>

        <a class="botoesDentroOpcoesRT" href = "{{ url_for('comida_Manju') }}" > Manju </a> <br>
        <a class="botoesDentroOpcoesRT"> Dorayaki </a> <br>
        <a class="botoesDentroOpcoesRT"> Yokan </a> <br> 
        <a class="botoesDentroOpcoesRT"> Mochi </a> <br> 
        <a class="botoesDentroOpcoesRT"> Anko </a> <br>

    </section>

</body>