<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "../../../static/style.css">
    <script src="../../../static/components/header.js" type = "text/javascript" ></script>
 
    
    <title>Preparação Pratos Tradicionais</title> 
</head>


<body>
    <header-component></header-component>

    <section class="conteudo">

        <p class="textoDentroOpcoesRT" style="font-weight: bold"> Preparação de pratos tradicionais </p>
        <p class="textoDentroOpcoesRT" style="font-weight: bold"> Sabores que atravessam o oceano </p>

        <a class="botoesDentroOpcoesRT" href = "{{ url_for('comida_Sushi') }}" > Sushi </a> <br>
        <a class="botoesDentroOpcoesRT" href = "{{ url_for('comida_Missoshiru') }}"> Missoshiru </a> <br>
        <a class="botoesDentroOpcoesRT" href = "{{ url_for('comida_Kare') }}" > Karê</a> <br> 
        <a class="botoesDentroOpcoesRT" href = "{{ url_for('comida_Onigiri') }}" > Onigiri</a> <br> 
        <a class="botoesDentroOpcoesRT" href = "{{ url_for('comida_Gohan') }}" > Gohan </a> <br>

    </section>

</body>