.nomeComida, .nomeTradicao, .nometipoObjeto{
    font-size: 7vw; 
    font-weight: bold;
}

.imagemComida, .imagemTradicao, .imagemtipoObjeto{
    padding-top: 5vw;
    height: 100%;
    width: 100%;
}

.textoIngredientes, .textoModoDePreparo, .textoRecordarMemorias, .textoVersaoAlternativa{
    font-size: 6vw;
    font-weight: bold;
    padding-bottom: 0;
    margin-bottom: 0;
}

.nomeObjeto{
    font-size: 6vw;
    text-align: center;
    font-weight: bold;
    padding-top: 0vw;
    margin-top: 0vw;
}

.texto{
    font-size: 5.5vw;
    padding-bottom: 0;
    margin-bottom: 0;
}

ul li{
    font-weight: normal;
    padding-bottom: 0;
    margin-bottom: 0;
}

.divBranca{
    background-color: #f7f6f2;
    margin-top: 0;
    padding-top: 0;
}

ol li{
    font-weight: normal;
    padding-bottom: 0;
    margin-bottom: 0;
}

.sobreAComida{
    font-size: 6.5vw;
    font-weight: 550;
    text-align: center;
    margin: 0 auto 0 auto;
    padding: 0 auto 0 auto;
}