.titulo{
    font-family: Inter;
    font-size: 11vw;
    color: #D52229;
    font-weight: 800;
    text-align: center;
    margin-top: 1vw;
    margin-bottom: 3vw;
}

#board{
    width: 95vw;
    height: 110vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}

.ladrilho{ /* onde vamos botar as letrinhas */
    border:  1.2vw solid rgb(125, 123, 123);
    width: 15vw;
    height:15vw;
    margin: 0.7vw;

    color: black;
    background-color: white;
    font-size: 15vw;
    font-weight: 800;
    display: flex; /* dos ladinhos */
    justify-content: center;
    align-items: center;
}

.linhaTeclado{
    width: 100vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.ladrilhoTecladoLetra{
    border:  1.2vw solid #D52229;
    width: 6.5vw;
    height: 12vw;
    margin: 0.7vw;

    color: white;
    background-color: #D52229;
    font-size: 8vw;
    font-weight: 800;
    justify-content: center;
    align-items: center;
    display: flex;
}

.ladrilhoTecladoEnter{
    border:  1.2vw solid #D52229;
    width: 12vw;
    height: 12vw;
    margin: 1vw;

    color: white;
    background-color: #D52229;
    font-size: 4vw;
    font-weight: 800;
    justify-content: center;
    align-items: center;
    display: flex;
}

/* mudar a cor do quadradinho de acordo com a resposta */

.correto{
    background-color: green;
    color: white;
    border-color: white;
}

.existe{
    background-color: #C9B458;
    color: white;   
    border-color: white;
}

.errado{
    background-color: #787C7E;
    color: white;   
    border-color: white;
}