<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "../static/style.css">
    <script src="../static/components/header.js" type = "text/javascript" ></script>
 
    <title>Árvore da Vida</title> 
</head>


<body>
    <header-component></header-component>

    <section class="conteudo"> 

    <p class = "textoLihaDoTempo"> A <span class = "destaque" > Árvore da Vida </span> é uma abordagem terapêutica criativa e baseada em forças, desenvolvida por Ncazelo Ncube e David Denborough, para ajudar indivíduos a <span class = "destaque" > reconstruírem suas histórias de vida. </span> </p>

    <img src="../static/arvore_rosa1.png" class="arvoreRosa1" alt="Árvore em estilo de desenho, com tronco marrom e muitas flores cor de rosa, lembrando uma cerejeira florida, com algumas folhas verdes no topo."> 

    <p class="textoLihaDoTempo" > A metodologia utiliza a metáfora de uma árvore para permitir que as pessoas <span class = "destaque" > expressem e se recordem das suas experiências de vida</span>, focando em suas habilidades, esperanças e sonhos. </p>

    </section>

    <img src="../static/arvoreRosa2.png" class="arvoreRosa1" alt="Ilustração didática de uma árvore vista de perfil, com suas partes identificadas por legendas. A árvore tem um tronco marrom central, do qual saem vários galhos. No topo, há uma copa cheia de folhas e flores rosadas, semelhantes a flores de cerejeira. As flores aparecem agrupadas nos galhos, formando uma copa arredondada.

    Cada parte da árvore está destacada com um rótulo em fundo vermelho e texto branco: “Flores” próximo às flores no topo, “Copa/folhas” indicando a região da copa, “Galhos” apontando para as ramificações, “Tronco” no corpo principal da árvore, “Solo” na camada de terra acima do chão e “Raízes” abaixo do solo.

    A parte inferior da imagem mostra um corte do solo: acima, uma faixa de grama verde; abaixo, a terra marrom com as raízes da árvore se espalhando para os lados e para baixo. O fundo da imagem é claro e neutro, sem outros elementos além da árvore e do solo.">

    <section class="conteudo">

    <p class="textoLinhaDoTempo" style="text-align:left"> <span class="destaque"> Inicie seu processo de autoconhecimento por meio da Árvore da Vida! </span> </p>

    <a href="{{ url_for('minha_Jornada') }}" class="BotaoAzulClaro"> Minha jornada </a>

    </section>

    <img src="../static/arvoreRosa3.png" class="arvoreRosa1">

</body>