<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "../static/style.css">
    <script src="../static/components/header.js" type = "text/javascript" ></script>
    <title>Ikigai</title>

</head>

<body>

    <header-component></header-component>
    {% include 'botao_voltar.html' %}
    <section class = "conteudo">

        <p class = "textoAutoconhecimento" id = "negrito">
            <span class="destaque"> IKIGAI </span>
        </p>

        <p class = "textoNormalIkigai">
            O conceito japonês de Ikigai pode ser aplicado como uma ferramenta para ajudar as pessoas a encontrar seu <span class="destaque">propósito de vida</span>, o que, por sua vez, pode levar a um <span class="underline">maior bem-estar e saúde mental.</span> 
            O termo, que significa "razão de viver", busca a intersecção de quatro elementos essenciais:
        </p>

        <ul>
            <li id="itemCoracao"> O que você ama fazer </li>
            <li id="itemPessoa"> O que você é bom fazendo </li>
            <li id="itemMao"> O que o mundo precisa </li>
            <li id="itemDinheiro"> Pelo que pode ser pago </li>
        </ul>

        <p class="textoItalico"> 
            Vamos aprofundar cada um deles?
        </p>

        <img src="../static/ikigai.png" class="imagemIkigai" alt=""> 

        <p class="textoItalico"> 
            Vamos iniciar o uso dessa ferramenta respondendo às perguntas direcionadas a cada uma dessas áreas
        </p>

        <a class="BotaoAzulClaro"> Minha jornada Ikigai </a>

    </section>

</body>