<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perguntas Minha Jornada</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/minhaJornada.css"> //fazer esse CSS aqui
    <script src="../static/components/header.js" type="text/javascript"></script>
</head>


<body>
    <header-component></header-component>
    {% include 'botao_voltar.html' %}
    <section class="conteudo">

        <div id="container"></div> <!-- cria o container para a página poder aparecer -->

    </section>
</body>

<script src="../static/questionarioArvoreDaVida.js"></script> <!-- fonte do JS que tô usando (tem que vir depois do body mesmo) -->

</html>