<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "../static/style.css">
    <script src="../static/components/header.js" type = "text/javascript" ></script>
 
    
    <title>Mural de histórias</title> 
</head>



<body>
    <header-component></header-component>
    {% include 'botao_voltar.html' %}
    <section class="conteudo"> 

        <p class="destaque"> Esta página ainda está em construção... </p>

        <div class="balaoChatDireita1"> 
            <p class="fraseBalao"> Este é um exemplo de balão de mensagem. </p>
        </div>

        <div class="balaoChatEsquerda"> 
            <p class="fraseBalao"> Em breve teremos mais conteúdos! </p>
        </div>

        <div class="balaoChatDireita2"> 
            <p class="fraseBalao"> Fique atento às novidades! </p>
        </div>

    </section>

</body>