<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "../static/style.css">
    <script src="../static/components/header.js" type = "text/javascript" ></script>
 
    
    <title>Relembrar tradições</title> 
</head>



<body>
    <header-component></header-component>

    <section class="conteudo"> 

        <p class="destaque" style="padding-bottom: 0;"> Relembrar tradições </p>

        <p style="padding-top: 0; margin-top:0"> Clique em um dos temas abaixo para relembrar sobre a cultura nipobrasileira e elementos do Japão: </p>

        <div class="btnEsquerdaImgDireita">
            <a class="balaoRTEsquerdo"> Linha do tempo histórica </a>
            <!-- ÍCONE -->
        </div>

        <div class="btnDireitaImgEsquerda">
            <a class="balaoRTDireita"> Culinária e gastronomia </a>
            <!-- LAMEN -->
        </div>

            <a class="balaoRTEsquerdo"> Tradições e celebrações </a>

            <a class="balaoRTDireita"> Espaços e arquitetura </a>

            <a class="balaoRTEsquerdo"> Objetos cotidianos </a>

            <a class="balaoRTDireita"> Músicas, sons e danças </a>

            <a class="balaoRTEsquerdo"> Esportes e conquistas </a>

    </section>

</body>