<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/style.css">
    <script src="../../../static/components/header.js" type="text/javascript"></script>


    <title>Objetos cotidianos</title>
</head>


<body>
    <header-component></header-component>

    <section class="conteudo">

        <p class="textoDentroOpcoesRT"> <span class="destaque"> Objetos Cotidianos </span></p>

        <p class="textoDentroOpcoesRT">
            Alguns objetos atravessaram oceanos.
            Outros foram comprados aqui, no Brasil.
            Entre o Japão e o Brasil, os objetos do cotidiano guardam memórias de trabalho, fé, disciplina e afeto.
        </p>

        <p class="textoDentroOpcoesRT"> <span class="destaque"> Vamos relembrar? </span></p>

        <a class="botoesDentroOpcoesRT" href="{{ url_for('casaEFamilia') }}" > Casa e Família </a> <br>
        <a class="botoesDentroOpcoesRT" href="{{ url_for('espiritualidadeETradicao') }}"> Espiritualidade e Tradição </a> <br>
        <a class="botoesDentroOpcoesRT" href="{{ url_for('vestimentasETecidos') }}" > Vestimentas e Tecidos </a> <br>
        <a class="botoesDentroOpcoesRT" href="{{ url_for('objetosDeTrabalho') }}"> Objetos de Trabalho </a> <br>
        <a class="botoesDentroOpcoesRT" href="{{ url_for('escolaEEducacao') }}"> Escola e Educação </a> <br>

    </section>

</body>