<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/style.css">
    <script src="../../../static/components/header.js" type="text/javascript"></script>


    <link rel="icon" type="image/png" href="{{ url_for('static', filename='MemLogo.png') }}">
    <title>Referências Olímpicas</title>
</head>


<body>
    <header-component></header-component>
    {% include 'botao_voltar.html' %}

    <section class="conteudo">

        <p class="textoDentroOpcoesRT"> <span class="destaque"> Referências Olímpicas </span></p>

        <p class="textoDentroOpcoesRT">
            Atletas e influências da comunidade nikkei no cenário olímpico
        </p>

        <img src="../../../static/chiaki.png" style=" padding-top: 10vw; width: 100%; height: 100%" alt="Card "Referências Olímpicas" com uma foto atual do judoca Chiaki Ishii vestindo um judogi branco e segurando uma fotografia antiga de si mesmo executando um golpe de judô. As informações do card detalham sua medalha de Bronze conquistada em Munique, no ano de 1972."> 

        <img src="../../../static/aurelio.png" style=" padding-top: 10vw; width: 100%; height: 100%" alt="Card "Referências Olímpicas" apresentando o judoca Aurélio Miguel com a bandeira do Brasil sobre os ombros e a medalha de ouro no peito. O texto indica que ele conquistou a medalha de Ouro no Judô durante as Olimpíadas de Seul, em 1988.">

        <img src="../../../static/rogerio.png" style=" padding-top: 10vw; width: 100%; height: 100%" alt="Card 'Referências Olímpicas' com o judoca Rogério Sampaio vestindo um judogi branco e segurando sua medalha de ouro. O texto informa que ele foi medalhista de Ouro no Judô nos Jogos de Barcelona, em 1992.">

        <img src="../../../static/tiago.png" style=" padding-top: 10vw; width: 100%; height: 100%" alt="Card 'Referências Olímpicas' mostrando o judoca Tiago Camilo vibrando com os braços erguidos e punhos cerrados. Ele veste um judogi azul com a bandeira brasileira. O texto registra suas conquistas de Prata e Bronze nos Jogos de Sydney (2000) e Pequim (2008).">

        <img src="../../../static/felipe.png" style=" padding-top: 10vw; width: 100%; height: 100%" alt="Card "Referências Olímpicas" que mostra o judoca Felipe Kitadai com o punho erguido em comemoração. Ele veste um judogi branco com o símbolo da Confederação Brasileira de Judô. O texto registra sua medalha de Bronze na categoria ligeiro, em Londres, 2012.">

        <img src="../../../static/tetsuo.png" style=" padding-top: 10vw; width: 100%; height: 100%" alt="Card 'Referências Olímpicas' com uma fotografia histórica em tons de sépia do nadador Tetsuo Okamoto sorrindo em um pódio. Ele veste uma camiseta com a inscrição 'BRASIL'. O card destaca sua medalha de Bronze na Natação (1.500m livre) em Helsinque, 1952, notando que foi a primeira medalha da natação brasileira na história.">

        <img src="../../../static/arthur.png" style=" padding-top: 10vw; width: 100%; height: 100%" alt="Card colecionável intitulado "Referências Olímpicas" com a foto do ginasta Arthur Nory Oyakawa Mariano sorrindo e segurando sua medalha de bronze. Ele veste o agasalho amarelo da Confederação Brasileira de Ginástica (CBG). O card informa que a conquista foi na Ginástica Artística (Solo), nos Jogos do Rio de Janeiro, 2016.">

        <img src="../../../static/kelvin.png" style=" padding-top: 10vw; width: 100%; height: 100%" alt="Card 'Referências Olímpicas' apresentando o skatista Kelvin Hoefler sorridente, segurando um buquê de flores com a mascote de Tóquio 2020 em uma mão e sua medalha de prata na outra. Ele veste o uniforme verde e amarelo do Time Brasil. O card cita a medalha de Prata no Skate (Street) em Tóquio, 2020.">

    </section>

</body>