<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/style.css">
    <script src="../../../static/components/header.js" type="text/javascript"></script>


    <link rel="icon" type="image/png" href="{{ url_for('static', filename='MemLogo.png') }}">
    <title>Referências Olímpicas</title>
</head>


<body>
    <header-component></header-component>
    {% include 'botao_voltar.html' %}

    <section class="conteudo">

        <p class="textoDentroOpcoesRT"> <span class="destaque"> Referências Olímpicas </span></p>

        <p class="textoDentroOpcoesRT">
            Atletas e influências da comunidade nikkei no cenário olímpico
        </p>

        <img src="../../../static/chiaki.png" style=" padding-top: 10vw; width: 100%; height: 100%" alt="legal"> 

        <img src="../../../static/aurelio.png" style=" padding-top: 10vw; width: 100%; height: 100%" alt="legal">

        <img src="../../../static/rogerio.png" style=" padding-top: 10vw; width: 100%; height: 100%" alt="legal">

        <img src="../../../static/tiago.png" style=" padding-top: 10vw; width: 100%; height: 100%" alt="legal">

        <img src="../../../static/felipe.png" style=" padding-top: 10vw; width: 100%; height: 100%" alt="legal">

        <img src="../../../static/tetsuo.png" style=" padding-top: 10vw; width: 100%; height: 100%" alt="legal">

        <img src="../../../static/arthur.png" style=" padding-top: 10vw; width: 100%; height: 100%" alt="legal">

        <img src="../../../static/kelvin.png" style=" padding-top: 10vw; width: 100%; height: 100%" alt="legal">

    </section>

</body>